<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165833672097-tgntp18hn72teeuet3vgaqeeb07tdset.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165833672097-tgntp18hn72teeuet3vgaqeeb07tdset</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>165833672097-5a27sf47nccjqtqukdgnod9u3vaquob5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpK2oeechuQSDU0YOByoWCcWXrHKYIvic</string>
	<key>GCM_SENDER_ID</key>
	<string>165833672097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drbarbeccu.com</string>
	<key>PROJECT_ID</key>
	<string>drbarbeccu</string>
	<key>STORAGE_BUCKET</key>
	<string>drbarbeccu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165833672097:ios:760493560bbbe81382f7e0</string>
</dict>
</plist>